allow iorap_inode2filename {
  vendor_overlay_file
  media_rw_data_file
  bluetooth_logs_data_file
  apk_private_data_file
  asec_image_file
  tombstone_data_file
  ota_data_file
  ota_package_file
  cache_file
  adb_data_file
  adbroot_data_file
  shell_data_file
  profman_dump_data_file
  install_data_file
  apex_module_data_file
  apex_rollback_data_file
  snapshotctl_log_data_file
}:dir { read getattr };

allow iorap_inode2filename {
  hal_allocator_default_exec
  system_suspend_exec
  statsd_exec
  profman_exec
  adbd_exec
}:file { getattr };
